Repository xoeye/typecats, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, core, dependencies, internal, documentation

.github/labeler.yml:

tests:
  - tests/**/*

core:
  - typecats/**/*

dependencies:
  - Pipfile*

internal:
  - ./CHANGES.md

documentation:
  - ./README.md

Mass update deprecated actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/unit-test.yml
Labels: none

Fix register_struc_hook
  CHANGES.md
  tests/test_cats.py
  typecats/__about__.py
  typecats/tc.py
Labels: tests, core, internal

refactor for 3.12 compat
  Pipfile
  setup.py
  tests/test_gen_converter.py
  tests/test_strip_defaults.py
  typecats/__about__.py
  typecats/__init__.py
  typecats/__version__.py
  typecats/_compat.py
  typecats/attrs_shim.py
  typecats/converter.py
  typecats/patch.py
  typecats/strip_defaults.py
  typecats/tc.py
  typecats/wildcat.py
  uv.lock
Labels: tests, core, dependencies

add more unit tests
  tests/test_behavioral.py
  tests/test_cats.py
  tests/test_validators.py
Labels: tests

add mypy plugin and streamline TypeCat
  typecats/__init__.py
  typecats/attrs_shim.py
  typecats/mypy_plugin.py
  typecats/tc.py
Labels: core

remove strip_defaults added kwarg
  typecats/mypy_plugin.py
  typecats/tc.py
Labels: core

type annotation cleanup
  typecats/__init__.py
  typecats/attrs_shim.py
  typecats/stack_context.py
  typecats/strip_defaults.py
  typecats/types.py
  typecats/wildcat.py
Labels: core

upgrade unit test matrix
  .github/workflows/unit-test.yml
Labels: none
