Repository xoeye/typecats, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, core, dependencies, internal, documentation

.github/labeler.yml:

tests:
  - tests/**/*

core:
  - typecats/**/*

dependencies:
  - Pipfile*

internal:
  - ./CHANGES.md

documentation:
  - ./README.md

Use __token__ username for pypi token auth
  .github/workflows/publish.yml
Labels: none

support newer cattrs and Python 3.8/9
  Pipfile
  setup.py
  tests/test_cats.py
  tests/test_exceptions.py
  tests/test_strip_defaults.py
  typecats/__init__.py
  typecats/_compat.py
  typecats/cattrs_hooks.py
  typecats/exceptions.py
  typecats/patch.py
  typecats/stack_context.py
  typecats/strip_defaults.py
  typecats/tc.py
  typecats/types.py
  typecats/wildcat.py
Labels: tests, core, dependencies

minor cleanup
  typecats/_compat.py
  typecats/strip_defaults.py
  typecats/tc.py
Labels: core

use new fixes in cattrs 1.9.0 to fully support nested generics
  CHANGES.md
  setup.py
  tests/test_gen_converter.py
  tests/test_python_39.py
  typecats/__about__.py
  typecats/exceptions.py
  typecats/patch.py
Labels: tests, core, internal

fix sys version info comparison
  typecats/_compat.py
Labels: core

bump versions and changelog
  CHANGES.md
  typecats/__about__.py
Labels: core, internal

Pull in typecats 1.9
  Pipfile
Labels: dependencies

Remove python version upper bound
  setup.py
Labels: none

Upgrade cattrs==22.1.0 and attrs==21.4.0
  Pipfile
  setup.py
  typecats/attrs_shim.py
  typecats/patch.py
  typecats/tc.py
Labels: core, dependencies

OP-1150-python-3-10: Add rudimentary unit test workflow
  .github/workflows/unit-test.yml
Labels: none

OP-1150-python-3-10: Update to python 3.9 in publish workflow
  .github/workflows/publish.yml
Labels: none

Add register_struc_hook_func, register_unstruc_hook_func
  CHANGES.md
  typecats/__init__.py
  typecats/tc.py
Labels: core, internal

OP-1150-python-3-10: Run mypy before unit tests
  .github/workflows/unit-test.yml
Labels: none

Consolidate different exception types to match detailed validation
  CHANGES.md
  README.md
  tests/detailed_validation_utils.py
  tests/test_cats.py
  tests/test_exceptions.py
  typecats/__init__.py
  typecats/exceptions.py
  typecats/patch.py
  typecats/tc.py
  typecats/types.py
Labels: tests, core, internal, documentation

OP-1150-python-3-10: Fix mypy plugin
  typecats/cats_mypy_plugin.py
Labels: core

OP-1150-python-3-10: Fix mypy errors
  .flake8
  CHANGES.md
  setup.py
  typecats/attrs_shim.py
  typecats/exceptions.py
  typecats/tc.py
Labels: core, internal

OP-1150-python-3-10: Clear _structure_func cache when changing validation mode
  tests/test_exceptions.py
  typecats/tc.py
Labels: tests, core

OP-1150-python-3-10: Add VSCode mypy plugin debug configuration
  .vscode/launch.json
Labels: none

OP-1150-python-3-10: Add CONTRIBUTING.md and SECURITY.md
  CONTRIBUTING.md
  SECURITY.md
Labels: none

OP-1150-python-3-10: Fix rest of pre-commit errors
  env_runner.py
  tests/test_cats.py
  typecats/patch.py
  typecats/strip_defaults.py
  typecats/wildcat.py
Labels: tests, core

OP-1150-python-3-10: Change version to 2.0.0rc1
  typecats/__about__.py
Labels: core

OP-1150-python-3-10: Fix mypy CI
  typecats/patch.py
Labels: core

OP-1150-python-3-10: Unit test matrix
  .github/workflows/unit-test.yml
Labels: none

OP-1150-python-3-10: Undo pipenv caching
  .github/workflows/unit-test.yml
Labels: none

OP-1150-python-3-10: Fix 3.9 annotations unit test on 3.8
  tests/test_python_39.py
Labels: tests

Update CHANGES.md
  CHANGES.md
Labels: internal

OP-1150-python-3-10: Use compatibility layer in test_gen_converter
  tests/test_gen_converter.py
  typecats/_compat.py
Labels: tests, core

OP-1150-python-3-10: Add exceptiongroup utils
  Pipfile
  tests/exceptiongroups/test_exceptiongroups.py
  tests/exceptiongroups/test_pytest_utils.py
  typecats/exceptiongroups/__init__.py
  typecats/exceptiongroups/pytest_utils.py
Labels: tests, core, dependencies

OP-1150-python-3-10: 2.0.0rc2
  CHANGES.md
  typecats/__about__.py
Labels: core, internal

OP-1150-python-3-10: Only pass _ispytest if it exists (for older pytest versions)
  typecats/exceptiongroups/pytest_utils.py
Labels: core

OP-1150-python-3-10: Regression fix when structuring with wildcat as a value
  tests/test_wildcats.py
  typecats/patch.py
Labels: tests, core

OP-1150-python-3-10: Update changelog
  CHANGES.md
Labels: internal

OP-1150-python-3-10: Fix is_py38_plus
  typecats/_compat.py
Labels: core

OP-1150-python-3-10: Fix mypy error on 3.7
  typecats/_compat.py
Labels: core

OP-1150-python-3-10: Remove exceptiongroups utils
  CHANGES.md
  Pipfile
  README.md
  tests/exceptiongroups/test_exceptiongroups.py
  tests/exceptiongroups/test_pytest_utils.py
  typecats/__about__.py
  typecats/exceptiongroups/__init__.py
  typecats/exceptiongroups/pytest_utils.py
Labels: tests, core, dependencies, internal, documentation

Fix error in structuring generic wildcats
  tests/test_wildcats.py
  typecats/patch.py
Labels: tests, core

v2.0.1
  CHANGES.md
  typecats/__about__.py
Labels: core, internal

Fix failing test on 3.7 from cattrs bug
  tests/test_wildcats.py
Labels: tests

VS-1557: Allow unstructuring of attrs classes in typing.Any-typed fields
  tests/test_try_struc.py
  tests/test_unstruc_any.py
  typecats/patch.py
Labels: tests, core

VS-1557: Bump version, update changelog
  CHANGES.md
  typecats/__about__.py
Labels: core, internal
